[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = praneshl2006
	email = 146663154+praneshl2006@users.noreply.github.com
